@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background: 22, 22, 22;
  --secondary: #161616;
  --start: #4D70FF;
  --end: #07ACFF;
}

@layer components {
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[var(--start)] to-[var(--end)];
  }

  .bg-gradient {
    @apply bg-gradient-to-r from-[var(--start)] to-[var(--end)];
  }
}

@font-face {
  font-family: 'Inter Italic';
  src: url(../font/Inter-MediumItalic.otf);
  font-weight: 400;
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
