@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --secondary: #161616
  --background: 22, 22, 22;
  --start: #4D70FF;
  --end: #07ACFF;
}

@layer components {
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[var(--start)] to-[var(--end)];
  }
  .bg-gradient {
    @apply bg-gradient-to-r from-[var(--start)] to-[var(--end)];
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: 22, 22, 22;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  background: rgb(var(--background))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
